<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Example</title>
  <script src="/js/sprite-vue.js"></script>
  <!-- <script src="/js/sprite-vue-debug.js"></script> -->
  <style>
  #container {
    width: 600px;
    height: 600px;
    position: relative;
  }
  </style>
</head>
<body>
  <div id="app"></div>
  <script>
const { Vue } = spritevue

Vue.component('my-scene', {
  states() {
    return {
      active: {
        opacity: 1.0
      },
      deactive: {
        opacity: 0.2
      }
    }
  },
  actions: [
    {
      both: ['active', 'deactive'],
      action: {
        duration: 1000,
        easing: 'ease-in-out'
      }
    }
  ],
  data () {
    return {
      viewport: [600, 600],
      text: 'Hello',
      items: [
        { id: 'stop-btn', bgcolor: 'red', state: 'deactive' },
        { id: 'warn-btn', bgcolor: '#fc0', state: 'deactive' },
        { id: 'pass-btn', bgcolor: 'green', state: 'deactive' }
      ]
    }
  },
  mounted() {
    this.$refs.block.animate([
      {rotate: 360},
    ], {
      duration: 5000,
    })
    setTimeout(() => {
      this.items.push({ id: 'stop-btn', bgcolor: 'red', state: 'deactive' })
    }, 2000)
  },
  methods: {
    enter (index) {
      console.log('enter')
      this.items[index].state = 'active'
    },
    leave (index) {
      console.log('leave')
      this.items[index].state = 'deactive'
    },
    tap (index, evt) {
      console.log(index, evt)
    },
    changed (evt) {
      console.log('state changed!', evt)
    }
  },
  template: `
    <scene id="container" :viewport=viewport>
      <layer id="fglayer">
        <sprite ref="block" bgcolor="red" :size="[50, 50]" :pos="[100, 400]" zIndex="10"></sprite>
        <group width="500" y="100" justifyContent="space-between" bgcolor="grey">
          <sprite v-for="(item, index) in items" :size="[50, 50]"
            :x="50*index"
            :y="20*index"
            :key="'sp'+index"
            ref="sp"
            :bgcolor="item.bgcolor"
            v-on:mouseenter="enter(index)"
            v-on:mouseleave="leave(index)"
            v-on:click="tap(index, $event)"
            :states="states" :actions="actions" :state="item.state"
            v-on:action-finished="changed"></sprite>
        </group>
      </layer>
    </scene>
  `
})

const v = new Vue({
  el: '#app',
  data() {
    return {
      state: true,
    };
  },
  methods: {
    toggle() {
      console.log(111);
      this.state = !this.state;
    }
  },
  template: `
  <div>
    <h1 @click="toggle"> abc </h1>
    <div v-if="state">
      <my-scene></my-scene>
    </div>
  </div>
`
})
  </script>
</body>
</html>
