<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Example</title>
  <script src="http://unpkg.com/spritejs/dist/spritejs.js"></script>
  <script src="/js/sprite-vue.js"></script>
  <!-- <script src="/js/sprite-vue-debug.js"></script> -->
  <style>
  #container {
    width: 600px;
    height: 600px;
    position: relative;
  }
  </style>
</head>
<body>
  <div id="app"></div>
  <script>
const { Vue } = spritevue

Vue.component('my-scene', {
  data () {
    return {
      viewport: [600, 600],
      ccc: {
        bgcolor: 'blue'
      },
      state: true
    }
  },
  mounted () {
    // console.log(this.$refs)
    this.ccc.bgcolor = 'red'
    // this.attrs = { ... this.attrs }
    setTimeout(() => {
      this.state = false
    }, 1000)
    setTimeout(() => {
      this.state = true
    }, 2000)
  },
  template: `
    <scene id="container" :viewport=viewport>
      <layer id="fglayer">
        <sprite :attrs="ccc" :size="[100, 100]" :pos="[200, 200]"></sprite>
        <group>
          <sprite bgcolor="green" :size="[100, 100]" :pos="[400, 200]"></sprite>
          <group v-if="state" bgcolor="blue" :size="[100, 100]" :pos="[300, 200]"></group>
        </group>
      </layer>
    </scene>
  `
})

const v = new Vue({
  el: '#app',
  data() {
    return {
      state: true,
      attrs: {
        bg: 'background:blue'
      }
    };
  },
  mounted () {
    this.attrs.bg = 'background: red'
  },
  methods: {
    toggle() {
      console.log(111);
      this.state = !this.state;
    }
  },
  template: `
  <div>
    <h1 @click="toggle" :style="attrs.bg"> abc </h1>
    <div v-if="state">
      <my-scene></my-scene>
    </div>
  </div>
`
})
  </script>
</body>
</html>
