{
  "root": true,
  "plugins": [
    "flowtype"
  ],
  "extends": [
    "plugin:vue-libs/recommended"
  ],
  "globals": {
    "__WEEX__": true,
    "WXEnvironment": true
  },
  "rules": {
    "no-undef": "off"
  }
}